.product {
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  
  p{
    text-align: center;

  }
  
  /* .product_wrap {
    width: 100%;
    display: flex;
  } */
  .lSection {
    width: 20%;
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .rSection {
    /* height: 200px;  */
    width: 100%;
    align-items: center;
  } 
  